* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("https://images.unsplash.com/photo-1520916784675-1b97f1fc1c05?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stopwatch-container {
  text-align: center;
  position: relative;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1rem;
  min-width: 30%;
  min-height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: #ffffff;
  font-size: 2rem;
  text-shadow: 1px 1px 2px black;
}

.timer {
  padding: 1rem 0;

  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.timer span {
  display: inline-block;
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 10px;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 360px) {
  .btn-container {
    flex-wrap: wrap;
  }
  .btn {
    margin: 0.3rem 0.3rem;
  }
  .timer {
    display: flex;
    flex-wrap: wrap;
  }
}

.sidebar-container {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #fff;
  z-index: 999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: left 0.3s ease-in-out;
}

.sidebar-container.show-sidebar {
  left: 0;
}

.toggle-icon {
  position: absolute;
  top: 10px;
  right: -40px;
  width: 30px;
  height: 30px;
  background-color: #333;
  color: #fff;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}

.sidebar {
  height: 100%;
  padding: 20px;
  overflow-y: auto;
}

.laps-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.lap__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.lap__number {
  font-size: 1.2rem;
  font-weight: bold;
}

.lap__time {
  font-size: 1.2rem;
  font-weight: bold;
}

.toggle-icon img {
  height: 15px;
}

.quotes-container {
  height: 20vh;
  width: 60vw;
  position: absolute;
  display: inline-block;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  /* border-radius: 30px; */
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-shadow: 3px 1px 3px black;
}

.quote-text {
  font-size: 2vw;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.quote-author {
  font-size: 1.5vw;
  font-style: italic;
  text-align: center;
}

.ticking-clock {
  height: 10vw;
  max-height: 80px;
  position: absolute;
  display: inline-block;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (min-width: 768px) {
  .ticking-clock {
    height: 8vw;
    max-height: 100px;
  }
}

@media screen and (min-width: 992px) {
  .ticking-clock {
    height: 6vw;
    max-height: 120px;
  }
}

@media screen and (min-width: 1200px) {
  .ticking-clock {
    height: 5vw;
    max-height: 150px;
  }
}

.hidden {
  display: none;
}
